* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: sans-serif;
}

header a {
  color: rgb(77, 73, 73);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}
